<!DOCTYPE html>
<html ng-app="friendsList">
<head>
  <link href="styles.css" rel="stylesheet">
</head>
<body ng-controller="mainCtrl">
Hello {{name}}. Angular populated your name from the controller! Wohoo.
<h1>My Friends</h1>
  <div ng-repeat='friend in friends'>
    {{friend}}
  </div>
 

  <input ng-model='newFriend'/>
  <button ng-click="addFriend()">Add</button>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script src="./js/app.js"></script>
<script src="./js/mainCtrl.js"></script>
</body>
</html>
git  